body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
}

button {
  font-size: 1.5rem;
  padding: 10px 25px;
  margin-top: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0062cc;
}

#food-container {
  max-width: 880px;
  margin-top: 40px;
  padding: 30px;
  background-color: #f5f5f5;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

#food {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  color: #333;
}